.App {
  text-align: center;
}

.textarea {
  resize: vertical;
  width: 99%;
  margin: 0px 2px;
  outline: none;
}

.textarea-default {
  min-height: 20vw;
}

.textarea-max {
  height: 100vh;
  resize: none;
}

.modal {
  background-color: blanchedalmond;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 auto;
  max-width: 80%;
  min-width: 80%;
}

.modal-title {
  font-weight: bold;
  float:left;
  padding: 5px 20px;
}

.modal-button {
  float: right;
  padding: 5px 20px;
}

.button-style {
  background-color: white;
  border: 0px solid;
  border-radius: 10px;
  margin: 10px 5px;
  padding: 10px;
}

button:hover {
  cursor: pointer;
  background-color: brown;
  color: white;
}

.markdown {
  margin: 60px 2px 10px 2px;
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  min-height: 50vh;
}

img {
  display: block;
  max-width: 100vh;
  margin: 0 auto;
}